body {
    background-color: gainsboro;
    position: relative;
}

#div1 {
    margin: auto;
    text-align: center;
    width: 400px;
    padding: 1em;
    height: 5%;
    background-color: #000000;
    border-radius: 5%;
    overflow: hidden;
    
}
fieldset {
    background-image:#ffe299;background-image:  
    radial-gradient(at 49% 6%, hsla(54,82%,65%,1) 0, transparent 56%),  
    radial-gradient(at 84% 49%, hsla(247,70%,74%,1) 0, transparent 50%),  
    radial-gradient(at 54% 11%, hsla(44,63%,62%,1) 0, transparent 40%),  
    radial-gradient(at 17% 24%, hsla(283,99%,66%,1) 0, transparent 41%),  
    radial-gradient(at 41% 31%, hsla(348,82%,77%,1) 0, transparent 47%),  
    radial-gradient(at 37% 32%, hsla(321,80%,79%,1) 0, transparent 46%),  
    radial-gradient(at 1% 83%, hsla(251,86%,69%,1) 0, transparent 44%);;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    
}
  
legend {
    background-color: rgb(89, 89, 230);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: cursive;
    margin: auto;
    text-align: center;
}
  
  input {

    border-radius: 5px;
    margin-bottom: 10px;
  }

#button {
    background-color: rgb(89, 89, 230);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: cursive;
    margin-bottom: 10px;
}

input, button {
    width: 100%;

    
}


